{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="text-center mb-4">
        <h1 class="mb-2">Welcome, {{ user.username }}!</h1>
        <h2>Here's the information you need:</h2>
    </div>
    <div class="mb-4">
        <h2 class="mb-3">Personal Data</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for client in clients %}
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h3 class="card-title">{{ client.first_name }} {{ client.last_name }}</h3>
                        <p class="card-text">
                            {{ client.address_street }} {{ client.address_number }}<br>
                            {{ client.zip_code }} {{ client.address_city }}
                        </p>
                        <a class="btn btn-outline-primary" href="{% url 'edit_client' client_id=client.id %}">
                            Edit Data
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col">
                <div class="card h-100 shadow text-center d-flex align-items-center justify-content-center">
                    <div class="card-body">
                        <a class="btn btn-outline-primary" href="{% url 'add_client' %}">
                            Add Data
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <h2 class="mb-3">Orders</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for order in orders %}
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h3 class="card-title">Order #{{ forloop.revcounter }}</h3>
                        <p class="card-text">
                            {{ order.order_value }} &euro;<br>
                            {{ order.shipment }}
                            
                            {% if order.is_recived %}
                                <br>
                                Recived
                            {% endif %}
                                
                        </p>
                        <a class="btn btn-outline-primary" href="{% url 'detail_order' order_id=order.id %}">
                            Check
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
