{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    a {
        color: #212529;
    }
    a:hover {
        color: #fff;
        text-decoration: none;
    }

    .red {
        background-color: #840012;
        border-color: #840012;
        color: #fff;
        }
    .rose {
        background-color: #E48693;
        border-color: #E48693;
        color: #fff;
    }
    .white {
        background-color: #26AB72;
        border-color: #26AB72;
        color: #fff;
    }
    .sparkling {
        background-color: #F8B10C;
        border-color: #F8B10C;
        color: #fff;
    }
</style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h1 class="display-4">What type of wine do you prefer?</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 mb-4">
                <a href="/wine/red" class="card h-100 border-0 shadow-sm red">
                    <img src="{% static 'images/glass_transparent.svg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title .text-dark">Red</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="/wine/white" class="card h-100 border-0 shadow-sm white">
                    <img src="{% static 'images/glass_transparent.svg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">White</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="/wine/rose" class="card h-100 border-0 shadow-sm rose">
                    <img src="{% static 'images/glass_transparent.svg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rose</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="/wine/sparkling" class="card h-100 border-0 shadow-sm sparkling">
                    <img src="{% static 'images/glass_transparent.svg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sparkling</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
